<h1 class="heading">Find events at the click of a finger</h1>
<section id="event-search-display">
    <form ng-submit="event(country)" id="form-input-country">
        <h4>Choose country name</h4>
        <select ng-model="country" required>
            <option></option> 
            <!-- required ( boolean attribute) means user HAS to choose one option. 
              The first option is empty otherwise required will not work-->
            <option value="AU">Australia</option>
            <option value="AT">Austria</option>
            <option value="BE">Belgium</option>
            <option value="CA">Canada</option>
            <option value="CZ">Czech Republic</option>
            <option value="DK">Denmark</option>
            <option value="FI">Finland</option>
            <option value="DE">Germany</option>
            <option value="IE">Ireland</option>
            <option value="LU">Luxembourg</option>
            <option value="MX">Mexico</option>
            <option value="NL">Netherlands</option>
            <option value="NZ">New Zealand</option>
            <option value="NO">Norway</option>
            <option value="PL">Poland</option>
            <option value="PT">Portugal</option>
            <option value="ES">Spain</option>
            <option value="SE">Sweden</option>
            <option value="CH">Switzerland</option>
            <option value="AE">United Arab Emirates</option>
            <option value="GB">United Kingdom</option>
            <option value="US">United States</option>
        </select>
        <button type="submit">Search</button>
    </form>

</section>